.button {
  display: inline-block;
  font-size: rem(18);
  font-weight: 500;
  letter-spacing: rem(0.5);
  text-transform: uppercase;
  padding: rem(17.4) rem(10);
  min-width: rem(175);
  text-align: center;
  border: rem(2) solid #000;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #000;
      color: #ffff;
    }
  }
}
//============modal============================================================================================================================================
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 92, 92, 0.577);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 55;
  .modal-open & {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  // .modal__content

  &__content {
    color: #000000;
    box-shadow: rem(0) rem(4) rem(4) rem(0) rgba(0, 0, 0, 0.25);
    min-height: rem(200);
    background-color: #ffff;
    @media (max-width: em(767.98)) {
      min-height: rem(100);
    }
  }

  // .modal__form

  &__form {
    padding: rem(40) rem(65) rem(40) rem(65);
    display: flex;
    justify-content: space-between;
    column-gap: rem(15);
    @media (max-width: em(767.98)) {
      padding: rem(20);
    }
  }

  // .modal__row

  &__row {
    display: flex;
    column-gap: rem(28);
    width: rem(1152);
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      background: url("../img/icons/search-modal.svg") 0 0 no-repeat;
      flex: 0 0 rem(30);
      width: rem(30);
      height: rem(30);
    }
    @media (max-width: em(767.98)) {
      column-gap: rem(15);
    }
  }

  // .modal__input

  &__input {
    width: 100%;
    padding-left: rem(10);
    border-bottom: rem(1) solid #3f3f3f;
    font-family: "Roboto", sans-serif;
    font-size: rem(24);
    font-weight: 300;
  }

  // .modal__close

  &__close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      background: url("../img/icons/close.svg") 0 0 no-repeat;
      width: rem(21);
      height: rem(21);
    }
  }
}
//========================================================================================================================================================
.home-page {
  // .home-page__main

  &__main {
    &:not(:last-child) {
      margin-bottom: rem(19);
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(35);
      }
    }
  }

  // .home-page__brands

  &__brands {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .home-page__offers

  &__offers {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .home-page__catalog

  &__catalog {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .home-page__shoping

  &__shoping {
    &:not(:last-child) {
      margin-bottom: rem(77);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .home-page__featured

  &__featured {
    &:not(:last-child) {
      margin-bottom: rem(79);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .home-page__popular

  &__popular {
    &:not(:last-child) {
      margin-bottom: rem(118);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(70);
      }
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }
}

//========================================================================================================================================================
.shoping {
  // .shoping__container

  &__container {
  }

  // .shoping__content

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem(96);
    padding-bottom: rem(78);
    padding-left: rem(269);
    @media (max-width: em(1600)) {
      padding-left: rem(150);
    }
    @media (max-width: em(1200)) {
      padding-left: rem(40);
      padding-top: rem(50);
      padding-bottom: rem(50);
    }
    @media (max-width: em(991.98)) {
      padding-left: rem(30);
      padding-right: rem(10);
    }
    @media (max-width: em(767.98)) {
      padding-left: rem(10);
      padding-top: rem(30);
      padding-bottom: rem(30);
    }
    @media (max-width: em(500)) {
      padding-top: rem(20);
      padding-bottom: rem(20);
    }
  }
  // .shoping__body

  &__body {
    position: relative;
    z-index: 2;
    max-width: rem(640);
    @media (max-width: em(767.98)) {
      max-width: 100%;
    }
  }

  // .shoping__bg

  &__bg {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      @media (max-width: em(1200)) {
        object-position: right;
        opacity: 0.7;
      }
      @media (max-width: em(767.98)) {
        opacity: 0.5;
      }
    }
  }

  // .shoping__title

  &__title {
    font-size: rem(56);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    line-height: math.div(72, 56);
    padding-top: rem(19);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (max-width: em(991.98)) {
      padding-top: rem(0);
      font-size: rem(48);
    }
    @media (max-width: em(767.98)) {
      font-size: rem(30);
    }
    @media (max-width: em(500)) {
      font-size: rem(24);
    }
    &::before {
      content: "";
      display: inline-block;
      background: url("../img/shoping/decore.svg") 0 0 no-repeat;
      width: rem(602);
      height: rem(100);
      position: absolute;
      top: 0;
      left: rem(35);
      @media (max-width: em(991.98)) {
        display: none;
      }
    }
  }

  // .shoping__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: rem(25);
    letter-spacing: rem(0.25);
    line-height: math.div(37, 25);
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
    p {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
    @media (max-width: em(767.98)) {
      font-size: rem(18);
    }
  }

  // .shoping__button

  &__button {
    @media (max-width: em(767.98)) {
      width: 100%;
    }
  }
}
