.create-account {
  // .create-account__customer

  &__customer {
    padding-top: rem(177);
    margin-bottom: rem(59);
    @media (max-width: em(1050)) {
      padding-top: rem(107);
    }
    @media (max-width: em(991.98)) {
      padding-top: rem(90);
      margin-bottom: rem(40);
    }
    @media (max-width: em(767.98)) {
      margin-bottom: rem(30);
    }
  }
}
.customer {
  // .customer__container

  &__container {
  }

  // .customer__body

  &__body {
    max-width: rem(1454);
    border: rem(1) solid #c4c4c4;
    padding: rem(103) rem(15) rem(124) rem(15);
    margin: 0 auto;
    @media (max-width: em(1050)) {
      padding: rem(70) rem(15) rem(70) rem(15);
    }
    @media (max-width: em(991.98)) {
      padding: rem(50) rem(15) rem(50) rem(15);
    }
    @media (max-width: em(767.98)) {
      padding: rem(15) rem(10);
      // border: 0;
    }
  }

  // .customer__title

  &__title {
    text-align: center;
    font-size: rem(48);
    line-height: math.div(68, 48);
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
    @media (max-width: em(991.98)) {
      font-size: rem(40);
    }
    @media (max-width: em(767.98)) {
      font-size: rem(34);
    }
    @media (max-width: em(600)) {
      font-size: rem(24);
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .customer__form

  &__form {
  }
}
.form-account {
  max-width: rem(650);
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  // .form-account__personal-info

  &__personal-info {
    &:not(:last-child) {
      margin-bottom: rem(53);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .form-account__title

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: rem(24);
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
    @media (max-width: em(767.98)) {
      // font-size: rem(18);
      text-align: center;
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
  }

  // .form-account__inputs

  &__inputs {
    display: grid;
    gap: rem(15);
    &:not(:last-child) {
      margin-bottom: rem(17);
    }
  }

  // .form-account__row

  &__row {
    //  display: flex;
    //  justify-content: space-between;
    //  column-gap: rem(10);
    display: grid;
    column-gap: rem(10);
    grid-template-columns: 1fr 73.1023102310231%;
    @media (max-width: em(767.98)) {
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
    }
  }

  // .form-account__label

  &__label {
    align-self: start;
    span {
      color: #ff0000;
    }
  }

  // .form-account__input

  &__input {
    height: rem(44);
    padding-left: rem(16);
    border: rem(1) solid #c4c4c4;
    color: #3f3f3f;
    font-size: rem(16);
    @media (max-width: em(767.98)) {
      width: 100%;
    }
    &::placeholder {
      color: #828282;
    }
  }

  // .form-account__checkbox

  &__checkbox {
  }

  // .form-account__newsletter

  &__newsletter {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .form-account__buttons

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(30);
    @media (max-width: em(767.98)) {
      flex-direction: column;
      row-gap: rem(15);
    }
  }

  // .form-account__button

  &__button {
    font-size: rem(14);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem(0.5);
    color: #828282;
    transition: color 0.3s;
    @media (max-width: em(767.98)) {
      width: 100%;
      text-align: center;
      border: rem(2) solid #c4c4c4;
      padding: rem(13) rem(10);
      line-height: 1.486;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
    &_color {
      width: rem(270);
      border: rem(2) solid #c4c4c4;
      padding: rem(13) rem(10);
      text-align: center;
      color: #ffffff;
      background-color: #000000;
      border: 0;
      line-height: 1.7151;
      transition: background-color 0.3s;
      @media (max-width: em(767.98)) {
        width: 100%;
      }
      @media (any-hover: hover) {
        &:hover {
          background-color: #000000a4;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}
.checkbox-account {
  position: relative;
  // .checkbox-account__label

  &__label {
    display: inline-flex;
    column-gap: rem(10);
    font-size: rem(14);
    line-height: math.div(20, 14);
    color: #828282;
    cursor: pointer;
    transition: color 0.3s;
    &::before {
      content: "";
      flex: 0 0 rem(10);
      width: rem(10);
      height: rem(10);
      border: rem(1) solid #c4c4c4;
      transform: translate(0, rem(2));
    }
    @media (any-hover: hover) {
      &:hover {
        color: #000000;
      }
    }
  }

  // .checkbox-account__input

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}
.checkbox-account__input:checked + .checkbox-account__label::before {
  background: #000000 url("../img/icons/check.svg") center/ rem(8) rem(6) no-repeat;
}
.checkbox-account__input:focus-visible + .checkbox-account__label {
  outline: rem(2) solid #000;
  border-radius: rem(2);
}
