@use "sass:math";

@import "_reset.scss";
@import "_mixins.scss";
@import "_common.scss";
@import "_swiper.scss";

@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
//========================================================================================================================================================

body {
  font-size: rem(18);
  color: #000;
  font-family: "Oswald", sans-serif;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  & > main {
    flex-grow: 1;
  }
}
[class*="__container"] {
  max-width: rem(1910);
  padding-left: rem(15);
  padding-right: rem(15);
  margin: 0 auto;
}

.menu-open {
  overflow: hidden;
}
.modal-open {
  overflow: hidden;
}
//========================================================================================================================================================
.header {
  background-color: #000;
  color: #fff;
  font-size: rem(14);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  // .header__container

  &__container {
    padding-top: rem(5);
    padding-bottom: rem(5);
    min-height: rem(115);
    display: grid;
    grid-template-columns: rem(350) 1fr;
    align-items: center;
    column-gap: rem(30);
    @media (max-width: em(1300)) {
      grid-template-columns: rem(150) 1fr;
      column-gap: rem(15);
    }
    @media (max-width: em(1050)) {
      min-height: rem(70);
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: rem(100) 1fr;
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 2;
  }

  // .header__content

  &__content {
    display: grid;
    grid-template-columns: 1fr rem(350);
    align-items: center;
    justify-content: end;
    column-gap: rem(29);
    @media (max-width: em(1050)) {
      grid-template-columns: rem(350) rem(130);
      column-gap: rem(15);
    }
    @media (max-width: em(991.98)) {
      grid-template-columns: rem(300) rem(130);
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: rem(80) rem(75);
    }
    // @media (max-width: em(599.98)) {
    //   grid-template-columns: rem(130) rem(60);
    // }
  }

  // .header__navigation

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(29);
    @media (max-width: em(1050)) {
      justify-content: flex-start;
      order: 2;
      flex-direction: row-reverse;
    }
    @media (max-width: em(767.98)) {
      column-gap: rem(15);
    }
  }

  // .header__menu

  &__menu {
  }

  // .header__search

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(7);
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    @media (any-hover: hover) {
      &:hover:before {
        transform: translate(0, rem(-5));
      }
    }
    &::before {
      content: "";
      background: url("../img/icons/search.svg") 0 0 / 100% no-repeat;
      flex: 0 0 rem(17);
      width: rem(17);
      height: rem(17);
      transition: transform 0.3s;
      @media (max-width: em(767.98)) {
        flex: 0 0 rem(22);
        width: rem(22);
        height: rem(22);
      }
    }
    @media (max-width: em(767.98)) {
      width: rem(30);
      height: rem(30);
      span {
        display: none;
      }
    }
  }

  // .header__actions

  &__actions {
  }
  // .header__modal

  &__modal {
  }
}

.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: em(1050)) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #000000dd;
      padding: rem(100) rem(30) rem(40) rem(30);
      overflow: auto;
      transition: left 0.5s;
      @media (max-width: em(767.98)) {
        padding-bottom: rem(20);
      }
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 2;
        width: 100%;
        height: rem(70);
        background-color: #151414;
        transition: left 0.5s;
      }
    }
    .menu-open & {
      left: 0;
      &::before {
        left: 0;
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(29);
    flex-wrap: wrap;
    row-gap: rem(10);
    @media (max-width: em(1300)) {
      column-gap: rem(15);
    }
    @media (max-width: em(1050)) {
      flex-direction: column;
      row-gap: rem(25);
      justify-content: center;
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
  }

  // .menu__item

  &__item {
    @media (any-hover: hover) {
      &:hover .menu__link::before,
      ._active::before {
        width: 100%;
      }
    }
  }

  // .menu__link

  &__link {
    padding-left: rem(10);
    padding-right: rem(10);
    padding-bottom: rem(5);
    text-transform: uppercase;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: rem(2);
      background-color: #eb5757;
      transition: width 0.3s;
    }
    @media (max-width: em(1050)) {
      font-size: rem(24);
    }
  }
}

.actions-header {
  display: flex;
  align-items: center;
  column-gap: rem(29);
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  @media (max-width: em(767.98)) {
    column-gap: rem(15);
  }
  @media (max-width: em(600)) {
    column-gap: rem(10);
  }
  // .actions-header__auth

  &__auth {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    @media (max-width: em(767.98)) {
      justify-content: center;
      column-gap: rem(20);
    }
    @media (max-width: em(500)) {
      flex-direction: column;
      row-gap: rem(25);
    }
  }

  // .actions-header__fav-cart

  &__fav-cart {
    display: flex;
    align-items: center;
    column-gap: rem(18);
  }

  // .actions-header__favorite

  &__favorite {
    width: rem(30);
    height: rem(30);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition: transform 0.3s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: translate(0, rem(-5));
      }
    }
  }

  // .actions-header__cart

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(11);
    img {
      transition: transform 0.3s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: translate(0, rem(-5));
      }
    }
    @media (max-width: em(767.98)) {
      flex: 0 0 rem(30);
      width: rem(30);
      height: rem(30);
    }
  }

  // .actions-header__text

  &__text {
    @media (max-width: em(1050)) {
      display: none;
    }
  }

  // .actions-header__label

  &__label {
    font-size: rem(12);
    font-weight: 400;
    letter-spacing: rem(0.12);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .actions-header__total

  &__total {
  }
}
.auth-header {
  position: relative;
  z-index: 2;
  // .auth-header__item

  &__item {
    @media (any-hover: hover) {
      &:hover .auth-header__link::before {
        width: 100%;
      }
    }
  }

  // .auth-header__link

  &__link {
    position: relative;
    padding-bottom: rem(5);
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: rem(2);
      background-color: #eb5757;
      transition: width 0.3s;
    }
    @media (max-width: em(767.98)) {
      font-size: rem(25);
    }
    // @media (max-width: em(599.98)) {
    //   span {
    //     display: none;
    //   }
    // }
  }

  // .auth-header__image-link

  &__image-link {
    display: inline-block;
    width: rem(22);
    height: rem(22);
    display: none;
    @media (max-width: em(600)) {
      display: block;
    }
    img {
      width: 100%;
    }
  }
}
//========================================================================================================================================================
//Burger
.icon-menu {
  display: none;
  @media (max-width: em(1050)) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #ffffff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

//========================================================================================================================================================
.main {
  padding-top: rem(136);
  @media (max-width: em(1050)) {
    padding-top: rem(85);
  }
  // .main__container

  &__container {
  }
}
//========================================================================================================================================================
.brands {
  // .brands__container

  &__container {
  }

  // .brands__title

  &__title {
    font-size: rem(24);
    text-transform: uppercase;
    text-align: center;
    max-width: rem(370);
    margin: 0 auto;
    background-color: #ffffff;
    transform: translate(0, 50%);
    @media (max-width: em(767.98)) {
      transform: translate(0, 0);
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .brands__items

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(200), rem(235)));
    column-gap: rem(30);
    row-gap: rem(5);
    align-items: center;
    justify-content: center;
    border: rem(1) solid #c4c4c4;
    padding: rem(28) rem(11);
    @media (max-width: em(767.98)) {
      padding: rem(10) rem(11);
    }
  }

  // .brands__item

  &__item {
    min-height: rem(141);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #f0f2f2;
      }
    }
    @media (max-width: em(991.98)) {
      min-height: rem(100);
    }
    @media (max-width: em(767.68)) {
      min-height: rem(70);
    }
  }
}
//========================================================================================================================================================
.offers {
  // .offers__items

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
    @media (max-width: em(991.98)) {
      grid-template-columns: 1fr;
    }
    @media (max-width: em(767.98)) {
      gap: rem(20);
    }
    @media (max-width: em(500)) {
      row-gap: rem(10);
    }
  }

  // .offers__item

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    &_size {
      grid-row: span 2;
    }
    &_position {
      justify-content: flex-end;
      align-items: center;
    }
  }

  // .offers__image

  &__image {
    padding-bottom: 46.969697%; /* 434/924 */
    @media (max-width: em(1200)) {
      opacity: 0.8;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      @media (max-width: em(991.98)) {
        object-position: top;
      }
    }
  }

  // .offers__info

  &__info {
    position: relative;
    z-index: 2;
    flex: 0 1 rem(370);
    padding-top: rem(20);
    padding-bottom: rem(103);
    &_margin {
      margin-left: rem(90);
      @media (max-width: em(1600)) {
        margin-left: rem(20);
      }
    }
    @media (max-width: em(1600)) {
      padding-bottom: rem(40);
    }
    @media (max-width: em(1300)) {
      flex: 0 1 rem(300);
    }
    @media (max-width: em(767.98)) {
      padding-bottom: rem(40);
      margin-left: rem(10);
    }
    @media (max-width: em(500)) {
      flex: 0 1 rem(200);
    }
  }

  // .offers__title

  &__title {
    font-size: rem(48);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    @media (max-width: em(1200)) {
      font-size: rem(40);
    }
    @media (max-width: em(767.98)) {
      font-size: rem(28);
    }
    @media (max-width: em(500)) {
      font-size: rem(24);
    }
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    &_big {
      font-size: rem(80);
      @media (max-width: em(1200)) {
        font-size: rem(60);
      }
      @media (max-width: em(767.98)) {
        font-size: rem(40);
      }
      @media (max-width: em(500)) {
        font-size: rem(28);
      }
    }
  }

  // .offers__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: rem(22);
    letter-spacing: rem(0.22);
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: rem(50);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
    @media (max-width: em(767.98)) {
      font-size: rem(16);
    }
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .offers__button

  &__button {
  }
}
//========================================================================================================================================================
.catalog-home {
  // .catalog-home__container

  &__container {
    display: grid;
    @media (min-width: em(1200)) {
      grid-template-columns: 20.572917% 1fr;
    }
    grid-template-columns: rem(250) 1fr;
    @media (max-width: em(991.98)) {
      grid-template-columns: 1fr;
      row-gap: rem(30);
    }
    // column-gap: rem(30);
  }

  // .catalog-home__filter

  &__filter {
  }

  // .catalog-home__content

  &__content {
    display: grid;
    gap: rem(63);
    border-left: rem(1) solid #c4c4c4;
    padding-left: rem(30);
    @media (max-width: em(991.98)) {
      border-left: 0;
      padding-left: 0;
      gap: rem(40);
    }
    @media (max-width: em(767.98)) {
      gap: rem(30);
    }
  }

  // .catalog-home__items

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(280), rem(344)));
    column-gap: rem(26);
    row-gap: rem(48);
    justify-content: center;
    @media (max-width: em(991.98)) {
      grid-template-columns: repeat(auto-fill, minmax(rem(280), rem(400)));
      row-gap: rem(40);
    }
    @media (max-width: em(767.98)) {
      row-gap: rem(25);
    }
  }

  // .catalog-home__item

  &__item {
    position: relative;
    @media (any-hover: hover) {
      &:hover .catalog-home__image img {
        transform: scale(1.04);
      }
    }
  }

  // .catalog-home__image

  &__image {
    display: block;
    position: relative;
    padding-bottom: 130.813953%; /* 450/344 */
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: transform 0.3s;
    }
    &:not(:last-child) {
      margin-bottom: rem(14);
    }
  }

  // .catalog-home__discount

  &__discount {
    display: inline-block;
    font-size: rem(14);
    background-color: #000000;
    padding: rem(3) rem(5);
    color: #ffffff;
    position: absolute;
    top: rem(15);
    left: 0;
  }

  // .catalog-home__info

  &__info {
  }

  // .catalog-home__title

  &__title {
    font-size: rem(12);
    font-weight: 600;
    text-transform: uppercase;
    color: #bdbdbd;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .catalog-home__text

  &__text {
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .catalog-home__price

  &__price {
  }

  // .catalog-home__button

  &__button {
    padding-bottom: rem(62);
    text-align: center;
    @media (max-width: em(991.98)) {
      padding-bottom: rem(40);
    }
    @media (max-width: em(767.98)) {
      padding-bottom: rem(20);
    }
    button {
      font-size: rem(14);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: rem(0.5);
      color: #828282;
      border: rem(2) solid #c4c4c4;
      padding: rem(13) rem(34.5);
      text-align: center;
      transition: background-color 0.3s, color 0.3s;
      @media (any-hover: hover) {
        &:hover {
          background-color: #c4c4c4;
          color: #ffffff;
        }
      }
      @media (max-width: em(767.98)) {
        width: 100%;
      }
    }
  }
}
.filter-catalog-home {
  padding-top: rem(18);
  @media (max-width: em(991.98)) {
    padding-top: 0;
  }
  // .filter-catalog-home__title

  &__title {
    font-size: rem(24);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    @media (max-width: em(991.98)) {
      text-align: center;
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .filter-catalog-home__form

  &__form {
  }
}
.form-checkbox {
  display: grid;
  gap: rem(20);
  font-family: "Roboto", sans-serif;
  font-size: rem(14);
  text-transform: uppercase;
  justify-content: start;
  @media (max-width: em(991.98)) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(15);
  }
  // .form-checkbox__row

  &__row {
    position: relative;
  }

  // .form-checkbox__input

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  // .form-checkbox__label

  &__label {
    display: flex;
    align-items: center;
    column-gap: rem(9);
    cursor: pointer;
    transition: color 0.3s;
    color: #3f3f3f;
    @media (any-hover: hover) {
      &:hover,
      &.active {
        color: #000000;
      }
    }
    &::before {
      content: "";
      flex: 0 0 rem(10);
      width: rem(10);
      height: rem(10);
      border: rem(1) solid #808080;
    }
  }
}
.form-checkbox__input:checked + .form-checkbox__label::before {
  background: #000000 url("../img/icons/check.svg") center/ rem(8) rem(6) no-repeat;
}
.form-checkbox__input:focus-visible + .form-checkbox__label {
  outline: rem(1) solid #000;
  border-radius: rem(4);
}
.price {
  display: flex;
  align-items: center;
  column-gap: rem(13);
  // .price__actual

  &__actual {
    font-size: rem(22);
    font-weight: 500;
    text-transform: uppercase;
    &_color {
      color: #eb5757;
    }
  }

  // .price__discount

  &__discount {
    font-size: rem(16);
    color: #808080;
    text-decoration: line-through;
  }
}
