@use "sass:math";

@import "_reset.scss";
@import "_mixins.scss";
@import "_common.scss";

@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
//========================================================================================================================================================

body {
  font-size: rem(18);
  color: #000;
  font-family: "Oswald", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  > main {
    flex-grow: 1;
  }
}
[class*="__container"] {
  max-width: rem(1910);
  padding-left: rem(15);
  padding-right: rem(15);
  margin: 0 auto;
}

//========================================================================================================================================================
.header {
  background-color: #000;
  color: #fff;
  font-size: rem(14);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  // .header__container

  &__container {
    padding-top: rem(5);
    padding-bottom: rem(5);
    min-height: rem(115);
    display: grid;
    grid-template-columns: rem(350) 1fr;
    align-items: center;
    column-gap: rem(30);
    @media (max-width: em(1300)) {
      grid-template-columns: rem(150) 1fr;
      column-gap: rem(15);
    }
    @media (max-width: em(1050)) {
      min-height: rem(70);
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: rem(100) 1fr;
    }
    @media (max-width: em(600)) {
      grid-template-columns: rem(80) 1fr;
      column-gap: rem(10);
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 2;
    @media (max-width: em(600)) {
      width: rem(70);
      img {
        width: 100%;
      }
    }
  }

  // .header__content

  &__content {
    display: grid;
    grid-template-columns: 1fr rem(350);
    align-items: center;
    justify-content: end;
    column-gap: rem(29);
    @media (max-width: em(1050)) {
      grid-template-columns: rem(350) rem(130);
      column-gap: rem(15);
    }
    @media (max-width: em(991.98)) {
      grid-template-columns: rem(300) rem(130);
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: rem(250) rem(70);
    }
    @media (max-width: em(599.98)) {
      grid-template-columns: rem(130) rem(60);
    }
  }

  // .header__navigation

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(29);
    @media (max-width: em(1050)) {
      justify-content: flex-start;
      order: 2;
      flex-direction: row-reverse;
    }
    @media (max-width: em(767.98)) {
      column-gap: rem(15);
    }
    @media (max-width: em(600)) {
      column-gap: rem(10);
    }
  }

  // .header__menu

  &__menu {
  }

  // .header__search

  &__search {
    display: flex;
    align-items: center;
    column-gap: rem(7);
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    @media (any-hover: hover) {
      &:hover:before {
        transform: translate(0, rem(-5));
      }
    }
    &::before {
      content: "";
      background: url("../img/icons/search.svg") 0 0 / 100% no-repeat;
      flex: 0 0 rem(17);
      width: rem(17);
      height: rem(17);
      transition: transform 0.3s;
      @media (max-width: em(767.98)) {
        flex: 0 0 rem(22);
        width: rem(22);
        height: rem(22);
      }
    }
    @media (max-width: em(767.98)) {
      span {
        display: none;
      }
    }
  }

  // .header__actions

  &__actions {
  }
  // .header__modal

  &__modal {
  }
}

.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: em(1050)) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #000;
      padding: rem(100) rem(30) rem(40) rem(30);
      overflow: auto;
      transition: left 0.5s;
      @media (max-width: em(767.98)) {
        padding-bottom: rem(20);
      }
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: rem(70);
        background-color: #151414;
        z-index: 5;
        transition: left 0.5s;
      }
    }
    .menu-open & {
      left: 0;
      &::before {
        left: 0;
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(29);
    flex-wrap: wrap;
    row-gap: rem(10);
    @media (max-width: em(1300)) {
      column-gap: rem(15);
    }
    @media (max-width: em(1050)) {
      flex-direction: column;
      row-gap: rem(25);
      justify-content: center;
    }
  }

  // .menu__item

  &__item {
    @media (any-hover: hover) {
      &:hover .menu__link::before,
      ._active::before {
        width: 100%;
      }
    }
  }

  // .menu__link

  &__link {
    padding-left: rem(10);
    padding-right: rem(10);
    padding-bottom: rem(5);
    text-transform: uppercase;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: rem(2);
      background-color: #eb5757;
      transition: width 0.3s;
    }
    @media (max-width: em(1050)) {
      font-size: rem(24);
    }
  }
}

.actions-header {
  display: flex;
  align-items: center;
  column-gap: rem(29);
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  @media (max-width: em(767.98)) {
    column-gap: rem(15);
  }
  @media (max-width: em(600)) {
    column-gap: rem(10);
  }
  // .actions-header__auth

  &__auth {
    display: flex;
    align-items: center;
    column-gap: rem(15);
  }

  // .actions-header__fav-cart

  &__fav-cart {
    display: flex;
    align-items: center;
    column-gap: rem(18);
  }

  // .actions-header__favorite

  &__favorite {
    img {
      transition: transform 0.3s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: translate(0, rem(-5));
      }
    }
  }

  // .actions-header__cart

  &__cart {
    display: flex;
    align-items: center;
    column-gap: rem(11);
    img {
      transition: transform 0.3s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: translate(0, rem(-5));
      }
    }
  }

  // .actions-header__text

  &__text {
    @media (max-width: em(1050)) {
      display: none;
    }
  }

  // .actions-header__label

  &__label {
    font-size: rem(12);
    font-weight: 400;
    letter-spacing: rem(0.12);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .actions-header__total

  &__total {
  }
}
.auth-header {
  position: relative;
  z-index: 2;
  // .auth-header__item

  &__item {
    @media (any-hover: hover) {
      &:hover .auth-header__link::before {
        width: 100%;
      }
    }
  }

  // .auth-header__link

  &__link {
    position: relative;
    padding-bottom: rem(5);
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: rem(2);
      background-color: #eb5757;
      transition: width 0.3s;
    }
    @media (max-width: em(599.98)) {
      span {
        display: none;
      }
    }
  }

  // .auth-header__image-link

  &__image-link {
    display: inline-block;
    width: rem(22);
    height: rem(22);
    @media (min-width: em(600)) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
//========================================================================================================================================================
//Burger
.icon-menu {
  display: none;
  @media (max-width: em(1050)) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #ffffff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

//========================================================================================================================================================
